.dialog
{
	margin-top: 5px;
	border: 2px solid #ffc6c6;
    border-radius: 10px;
	height: 40px;
	padding: 5px;
	text-align: center;
	font-family: Linden Hill;
	text-align: center;
	color: #ff6c6c;
	font-size: 24px;
}



#dialogs_field
{
	
	height: 70vh;
	overflow-y: scroll;
}

.opp_message
{
	margin-top: 5px;
	padding: 5px;
	width: 70%;
	border: 2px solid #ffc6c6;
	border-radius: 10px;
}

.my_message
{
	margin-top: 5px;
	padding: 5px;
	width: 70%;
	margin-left: 25%;
	text-align: right;
	border: 2px solid #ffc6c6;
	border-radius: 10px;
}

.my_message p
{
	margin: 0;
	font-family: Linden Hill;
	color: #ff6c6c;
	font-size: 18px;
}
.opp_message p
{
	font-family: Linden Hill;
	margin: 0;
	color: #ff6c6c;
	font-size: 18px;
}

@media screen and (orientation: portrait){

	body
	{
		font-size: 22px;
	}
	.logo
	{
		float: center;
		margin: 0 auto;
	}
	.mobile-menu
	{
		display: block;
		float: left;
		height: 60px;
	}
	.mibile-menu-image
	{
		height: 60px;
	}
	.logo
	{
		display: none;
	}
	.sidebar_left 
	{
		width: 100%;
		height: 300px;
		background-color: #ff9e9e;
		position: fixed;
		font-size: 36px;
		top: 62px;
		left: 0;
		z-index: 200;
		display: none;
	}
	.sidebar_left a
	{
		font-size: 30px;
	}

	.publishes_block
	{
		margin-left: 0;	
	}
	.container
	{
		width: 600px;
	}

	.head
	{
		width: 600px;
	}

}